.row
  #all_classes
    - @groups.each do |group|
      .class_names= group.name if group.teacher_id == @auth.id
      .class_students.hide
        - group.students.each do |student|
          = link_to(student.name, student_path(student))
