.row
  .small-6.columns
    %h4= @auth.name + '\'s Classes'
.row
  .small-6.columns
    #class
      =(render :partial => 'classes')

  .small-6.columns
    #add_class_button=link_to('Add Class', new_group_path, :remote => true, :class => 'button gradrbutton')
    #classform



