.row
  .small-8.columns
    %h4= @auth.name + '\'s Classes'
    #class
      =(render :partial => 'classes')
    #add_class_button=link_to('Add Class', new_group_path, :remote => true, :class => 'button gradrbutton')
  .small-2.columns
.row
  .small-5.columns
    #classform
  .small-7.columns
