.small-2.columns
.small-8.columns
  .row
    %h4= @auth.name + '\'s Classes'
  #class
    .row
      =(render :partial => 'classes')

  .row
    #students

    #add_class_button=link_to('Add Class', new_group_path, :remote => true, :class => 'button gradrbutton')
  .row
    #classform

  .row
    #students

    #add_student_button=link_to('Add Student', new_student_path, :remote => true, :class => 'button gradrbutton')
  .row
    #add_student_form


.small-2.columns