@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Poiret One', cursive;
}

span {
  color: red;
}

#logo {
  width: 150px;
  height: auto;
  display: inline;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 60px;
}

.groups {
  font-weight: bold;
  font-size: 20px;
}

#assignments, #students {
  font-size: 20px;
}

.clear
{
  clear: both
}

.class_names
{
  height: 50px;
  background-color: #7ECEFD;
  color: black;
  font-weight: bolder;
  width: 400px;
  font-size: 22px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.class_names:hover
{
  background-color: #2185C5;
  font-size: 23px;
}


.class_students
{
  height: 300px;
  background-color: #AFFDDD;
  color: blach;
  width: 400px;
  font-size: 22px;
  border-bottom: 1px solid grey;
}

.gradrbutton
{
  background-color: #5da423;
  border-radius: 30px;
}

.gradrbutton:hover
{
  background-color: #457a1a;
}

.student_ckeckbox
{
  width: 150px;
  display: inline-block;
  font-size: 22px;
  height: 30px;
  line-height: 25px;
}

input#group_name
{
  font-size: 22px;
}

